html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #444;
	color: white;
	text-align: center;
	overflow: scroll;
}
input[type=checkbox] {
	white-space: nowrap;
}
#table {
	height: 100%;
	width: 100%;
	display: inline-block;
}
.card {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	border-radius: 3%;
	transition: 0.3s ease-in-out;
	transition-property: transform;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
  }
.field {
	position: absolute;
	background: #333;
	border-radius: 3%;
}
#event-message {
	display: none; /* TODO: remove this*/
	position: absolute;
	width: 100%;
	margin-top: -4em;
	font-weight: 900;
	font-size: 3em;
	color: #FF3;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	z-index: 100;
}
.outline {
    color: #fff;
	text-shadow: 
	#000 0px 0px 8px, 
	#000 0px 0px 8px,
	#000 0px 0px 8px,
	#000 0px 0px 8px,
	#000 0px 0px 8px,
	#000 0px 0px 8px,
	#000 0px 0px 8px,
	#000 0px 0px 8px;
    -webkit-font-smoothing: antialiased;
}
input {
	padding: 0.4em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: vertical;
	max-width: 80%;
}
button {
	padding: 0.4em;
    border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #111;
	color: white;
}
button:hover {
	background-color: #333;
}
#registration {
	text-align: center;
	overflow: hidden;
	margin-top: 1em;

}
dt, dd {
	display: inline;
}
#previous-player, #next-player {
	display: inline-block;
	position: absolute;
	top: 40%;
	z-index: 1000; /* above all cards. */
	opacity: 0.5;
	outline: none;
	width: 2em;
}
#previous-player:hover, #next-player:hover {
	opacity: 1;

}
#previous-player {
	left: 0%;
}
#next-player {
	right: 0%;
}
#ui-wrapper, #ui-wrapper2 {
	margin: 0 1%;
	width: 98%;
	display: inline-block;
	position: relative;

}
#event-log {
	display: block;
	width: 100%;
	margin: auto;
}
.selected-card {
	border: 2px solid yellow;
}
#card-text, #vp-count {
	text-align: center;
	font-size: 1.5em;
}
#shuffle-button {
	border-radius: 50%;
	z-index: 1000;
	position: absolute;
	transition: 0.3s ease-in-out;
	background: #FFF;
	transition-property: transform;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* The field will make the cards there darker. */
#destroyed {
	z-index: 500;
	mix-blend-mode: saturation;
}
#registration-page {
	z-index: 2000;
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,0.3);
	top: 0;
	padding: 2em;
}
#host-section {
	display: none;
}
button {
	outline: none;
}
#draw5-btn {
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	font-weight: 400;
	z-index: 1000;
	border: none;
}